 .cistic{clear:both;}
  h2{border-bottom:solid black 1px;}
   
  body{
    margin:20px auto;
    width:1400px;
    font: 12pt Verdana, Arial, Helvetica, sans-serif;
    background:silver;
         
    }
      
  #header {
    text-align:center;
    padding-top:5px;
             
  }
    #header img{float:left; height:70px; margin:10px 50px;}
    #header h1{text-align:left;}
 
  #table_container{
    background:#eeeeec;
    width:1370px;
    float:left;
    border:black solid 2px;    
    padding:0.5em 1em;
  }
  
  
table{	  
	  border-spacing:0px; 
	  border-collapse: collapse;
	  padding: 0px;
}

  table th{border-bottom:solid 1px black;text-align:left;}
  table th, td{		
	 height: 30px;
	 padding: 7px 25px;
  }
  
  
  table tr th{font-size:110%; font-weight:bold;}
  table tr td{margin:30px; text-align:center;}
  
    
  table tr td:nth-of-type(1){font-weight: bold;text-align:right;} /* pořadí */
  table tr td:nth-of-type(2){text-align:right;} /* číslo */

  table tr th:nth-of-type(4){text-align:left;} /* jméno */
  table tr td:nth-of-type(4){text-align:left;font-weight: bold;}
  table tr td:nth-of-type(6){text-align:left;} /* klub */
  
  table tr td:nth-of-type(7){font-weight: bold;}




